[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
rich = "*"
pytest = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"
mypy = "*"
flake8 = "*"

[requires]
python_version = "3.9"